*{
  margin: 0;
  padding: 0;
}

body{
  padding:25px
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.submit{
  padding:5px;
}